<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				</sectionGroup>
			</sectionGroup>
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="Program" value="C:\Inetpub\wwwroot\Caterpillar\Caterpillar.exe"/>

		<add key="FileToTouch0" value="C:\Inetpub\wwwroot\www.governmentexpenses.ca\Default.aspx"/>
		<add key="FileToTouch1" value="C:\Inetpub\wwwroot\www.governmentexpenses.ca\largest_expenses.aspx"/>
		<add key="FileToTouch2" value="C:\Inetpub\wwwroot\www.governmentexpenses.ca\smallest_expenses.aspx"/>
		<add key="FileToTouch3" value="C:\Inetpub\wwwroot\www.governmentexpenses.ca\expense_count.aspx"/>
		<add key="FileToTouch4" value="C:\Inetpub\wwwroot\www.governmentexpenses.ca\trip_duration.aspx"/>
		<add key="FileToTouch5" value="C:\Inetpub\wwwroot\www.governmentexpenses.ca\average_amount.aspx"/>
		<add key="FileToTouch6" value="C:\Inetpub\wwwroot\www.governmentexpenses.ca\contact.aspx"/>
		<add key="FileToTouch7" value="C:\Inetpub\wwwroot\www.governmentexpenses.ca\about.aspx"/>
		<add key="FileToTouch8" value="C:\Inetpub\wwwroot\www.governmentexpenses.ca\name_mappings.aspx"/>

		<add key="URL0" value="http://www.governmentexpenses.ca/"/>
		<add key="URL1" value="http://www.governmentexpenses.ca/largest_expenses.aspx"/>
		<add key="URL2" value="http://www.governmentexpenses.ca/smallest_expenses.aspx"/>
		<add key="URL3" value="http://www.governmentexpenses.ca/expense_count.aspx"/>
		<add key="URL4" value="http://www.governmentexpenses.ca/trip_duration.aspx"/>
		<add key="URL5" value="http://www.governmentexpenses.ca/average_amount.aspx"/>
		<add key="URL6" value="http://www.governmentexpenses.ca/contact.aspx"/>
		<add key="URL7" value="http://www.governmentexpenses.ca/about.aspx"/>
		<add key="URL8" value="http://www.governmentexpenses.ca/name_mappings.aspx"/>

		<!--
		<add key="FileToTouch" value="C:\Inetpub\wwwroot\www.governmentexpenses.ca\Web.config"/>
		<add key="FolderToDelete" value="C:\Inetpub\wwwroot\www.governmentexpenses.ca\WebCharts"/>

		<add key="URL7" value="http://www.governmentexpenses.ca/departments.aspx?id=57&amp;department=Foreign+Affairs+Canada"/>
		<add key="URL8" value="http://www.governmentexpenses.ca/departments.aspx?id=73&amp;department=National+Defence+"/>
		<add key="URL9" value="http://www.governmentexpenses.ca/departments.aspx?id=53&amp;department=Finance+Canada%2c+Department+of"/>
		<add key="URL10" value="http://www.governmentexpenses.ca/departments.aspx?id=2&amp;department=Agriculture+and+Agri-Food+Canada"/>
		<add key="URL11" value="http://www.governmentexpenses.ca/departments.aspx?id=12&amp;department=Canada+Revenue+Agency+(CRA)"/>
		<add key="URL12" value="http://www.governmentexpenses.ca/departments.aspx?id=109&amp;department=Treasury+Board+of+Canada+Secretariat"/>
		<add key="URL13" value="http://www.governmentexpenses.ca/departments.aspx?id=11&amp;department=Canada+Public+Service+Agency"/>
		<add key="URL14" value="http://www.governmentexpenses.ca/departments.aspx?id=10&amp;department=Canada+Industrial+Relations+Board"/>
		<add key="URL15" value="http://www.governmentexpenses.ca/departments.aspx?id=86&amp;department=Privy+Council+Office"/>
		<add key="URL16" value="http://www.governmentexpenses.ca/departments.aspx?id=4&amp;department=Atlantic+Canada+Opportunities+Agency"/>
		<add key="URL17" value="http://www.governmentexpenses.ca/departments.aspx?id=5&amp;department=Auditor+General+of+Canada%2c+Office+of+the"/>
		<add key="URL18" value="http://www.governmentexpenses.ca/departments.aspx?id=7&amp;department=Canada+Border+Services+Agency+%28CBSA%29"/>
		<add key="URL19" value="http://www.governmentexpenses.ca/departments.aspx?id=8&amp;department=Canada+Economic+Development+for+Quebec+Regions"/>
		<add key="URL20" value="http://www.governmentexpenses.ca/departments.aspx?id=13&amp;department=Canada+School+of+Public+Service"/>
		<add key="URL21" value="http://www.governmentexpenses.ca/departments.aspx?id=15&amp;department=Canadian+Air+Transport+Security+Authority+(CATSA)"/>


		<add key="URL24" value="http://www.governmentexpenses.ca/departments.aspx?id=51&amp;department=Environment+Canada"/>
		<add key="URL25" value="http://www.governmentexpenses.ca/departments.aspx?id=19&amp;department=Canadian+Artists+and+Producers+Professional+Relations+Tribunal"/>
		<add key="URL26" value="http://www.governmentexpenses.ca/departments.aspx?id=16&amp;department=Canadian+Centre+for+Occupational+Health+and+Safety"/>
		<add key="URL27" value="http://www.governmentexpenses.ca/departments.aspx?id=20&amp;department=Canadian+Food+Inspection+Agency"/>
		<add key="URL28" value="http://www.governmentexpenses.ca/departments.aspx?id=17&amp;department=Canadian+Environmental+Assessment+Agency"/>
		<add key="URL29" value="http://www.governmentexpenses.ca/departments.aspx?id=21&amp;department=Canadian+Forces+Grievance+Board"/>
		<add key="URL30" value="http://www.governmentexpenses.ca/departments.aspx?id=22&amp;department=Canadian+Grain+Commission"/>
		<add key="URL31" value="http://www.governmentexpenses.ca/departments.aspx?id=24&amp;department=Canadian+Human+Rights+Commission"/>
		<add key="URL32" value="http://www.governmentexpenses.ca/departments.aspx?id=59&amp;department=Health+Canada"/>
		<add key="URL33" value="http://www.governmentexpenses.ca/departments.aspx?id=26&amp;department=Canadian+Institutes+of+Health+Research"/>
		<add key="URL34" value="http://www.governmentexpenses.ca/departments.aspx?id=29&amp;department=Canadian+International+Trade+Tribunal"/>
		<add key="URL35" value="http://www.governmentexpenses.ca/departments.aspx?id=33&amp;department=Canadian+Nuclear+Safety+Commission"/>
		<add key="URL36" value="http://www.governmentexpenses.ca/departments.aspx?id=64&amp;department=Industry+Canada"/>
		<add key="URL37" value="http://www.governmentexpenses.ca/departments.aspx?id=35&amp;department=Canadian+Radio-television+and+Telecommunications+Commission"/>
		<add key="URL38" value="http://www.governmentexpenses.ca/departments.aspx?id=36&amp;department=Canadian+Space+Agency"/>
		<add key="URL39" value="http://www.governmentexpenses.ca/departments.aspx?id=111&amp;department=Veterans+Review+and+Appeal+Board+Canada"/>
		<add key="URL40" value="http://www.governmentexpenses.ca/departments.aspx?id=37&amp;department=Canadian+Transportation+Agency"/>
		<add key="URL41" value="http://www.governmentexpenses.ca/departments.aspx?id=38&amp;department=Citizenship+and+Immigration+Canada"/>
		<add key="URL42" value="http://www.governmentexpenses.ca/departments.aspx?id=40&amp;department=Commissioner+for+Federal+Judicial+Affairs%2c+Office+of+the"/>
		<add key="URL43" value="http://www.governmentexpenses.ca/departments.aspx?id=45&amp;department=Competition+Tribunal"/>
		<add key="URL44" value="http://www.governmentexpenses.ca/departments.aspx?id=46&amp;department=Copyright+Board+Canada"/>
		<add key="URL45" value="http://www.governmentexpenses.ca/departments.aspx?id=47&amp;department=Correctional+Investigator%2c+Office+of+the"/>
		<add key="URL46" value="http://www.governmentexpenses.ca/departments.aspx?id=48&amp;department=Correctional+Service+of+Canada"/>
		<add key="URL47" value="http://www.governmentexpenses.ca/departments.aspx?id=49&amp;department=Courts+Administration+Service"/>
		<add key="URL48" value="http://www.governmentexpenses.ca/departments.aspx?id=50&amp;department=Director+of+Public+Prosecutions%2c+Office+of+the"/>
		<add key="URL49" value="http://www.governmentexpenses.ca/departments.aspx?id=52&amp;department=Elections+Canada"/>
		<add key="URL50" value="http://www.governmentexpenses.ca/departments.aspx?id=113&amp;department=Federal+Economic+Development+Agency+of+Southern+Ontario"/>
		<add key="URL51" value="http://www.governmentexpenses.ca/departments.aspx?id=54&amp;department=Financial+Consumer+Agency+of+Canada+(FCAC)"/>
		<add key="URL52" value="http://www.governmentexpenses.ca/departments.aspx?id=55&amp;department=Financial+Transaction+and+Reports+Analysis+Centre+of+Canada+(FINTRAC)"/>
		<add key="URL53" value="http://www.governmentexpenses.ca/departments.aspx?id=56&amp;department=Fisheries+and+Oceans+Canada"/>
		<add key="URL54" value="http://www.governmentexpenses.ca/departments.aspx?id=58&amp;department=Hazardous+Materials+Information+Review+Commission"/>
		<add key="URL55" value="http://www.governmentexpenses.ca/departments.aspx?id=60&amp;department=Human+Resources+and+Skills+Development+Canada+(HRSDC)"/>
		<add key="URL56" value="http://www.governmentexpenses.ca/departments.aspx?id=61&amp;department=Immigration+and+Refugee+Board+of+Canada"/>
		<add key="URL57" value="http://www.governmentexpenses.ca/departments.aspx?id=62&amp;department=Indian+and+Northern+Affairs+Canada"/>
		<add key="URL58" value="http://www.governmentexpenses.ca/departments.aspx?id=23&amp;department=Canadian+Heritage"/>
		<add key="URL59" value="http://www.governmentexpenses.ca/departments.aspx?id=66&amp;department=Infrastructure+Canada"/>
		<add key="URL60" value="http://www.governmentexpenses.ca/departments.aspx?id=106&amp;department=Transport+Canada"/>
		<add key="URL61" value="http://www.governmentexpenses.ca/departments.aspx?id=68&amp;department=Justice+Canada%2c+Department+of"/>
		<add key="URL62" value="http://www.governmentexpenses.ca/departments.aspx?id=70&amp;department=Library+and+Archives+of+Canada"/>
		<add key="URL63" value="http://www.governmentexpenses.ca/departments.aspx?id=96&amp;department=Royal+Canadian+Mounted+Police+%28RCMP%29"/>
		<add key="URL64" value="http://www.governmentexpenses.ca/departments.aspx?id=72&amp;department=NAFTA+Secretariat+-+Canadian+Section"/>
		<add key="URL65" value="http://www.governmentexpenses.ca/departments.aspx?id=74&amp;department=National+Energy+Board"/>
		<add key="URL66" value="http://www.governmentexpenses.ca/departments.aspx?id=75&amp;department=National+Farm+Products+Council"/>
		<add key="URL67" value="http://www.governmentexpenses.ca/departments.aspx?id=76&amp;department=National+Film+Board+of+Canada"/>
		<add key="URL68" value="http://www.governmentexpenses.ca/departments.aspx?id=78&amp;department=National+Parole+Board"/>
		<add key="URL69" value="http://www.governmentexpenses.ca/departments.aspx?id=71&amp;department=Military+Police+Complaints+Commission"/>
		<add key="URL70" value="http://www.governmentexpenses.ca/departments.aspx?id=79&amp;department=National+Research+Council+Canada"/>
		<add key="URL71" value="http://www.governmentexpenses.ca/departments.aspx?id=111&amp;department=Veterans+Review+and+Appeal+Board+Canada"/>
		<add key="URL72" value="http://www.governmentexpenses.ca/departments.aspx?id=110&amp;department=Veterans+Affairs+Canada"/>
		<add key="URL73" value="http://www.governmentexpenses.ca/departments.aspx?id=65&amp;department=Information+Commissioner+of+Canada%2c+Office+of+the"/>
		<add key="URL74" value="http://www.governmentexpenses.ca/departments.aspx?id=25&amp;department=Canadian+Human+Rights+Tribunal"/>
		<add key="URL75" value="http://www.governmentexpenses.ca/departments.aspx?id=41&amp;department=Commissioner+of+Official+Languages%2c+Office+of+the"/>
		<add key="URL76" value="http://www.governmentexpenses.ca/departments.aspx?id=30&amp;department=Canadian+Museum+for+Human+Rights"/>
		<add key="URL77" value="http://www.governmentexpenses.ca/departments.aspx?id=80&amp;department=National+Round+Table+on+the+Environment+and+the+Economy"/>
		-->
	</appSettings>
	<connectionStrings/>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
			</assemblies>
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<customErrors mode="Off"></customErrors>
		
		<pages>
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</controls>
		</pages>
		<httpHandlers>
			<remove verb="*" path="*.asmx"/>
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
		</httpHandlers>
		<httpModules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</httpModules>
	</system.web>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>
		</compilers>
	</system.codedom>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<remove name="ScriptModule"/>
			<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</modules>
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated"/>
			<remove name="ScriptHandlerFactory"/>
			<remove name="ScriptHandlerFactoryAppServices"/>
			<remove name="ScriptResource"/>
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
